{% extends 'base.html' %}
{% block title %}Laboratory{% endblock %}
{% block content %}
{% load thumbnail %}
{% load static %}
{% load static i18n %}
  <link type="text/css" href="{% static 'css/project_detail.css' %}" rel="stylesheet" />
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/Kis.jpg' %}" width="400" height="400">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Website for Laboratory</h1>
        <p class="lead">{% trans 'Здесь вы можете ознакомиться с сотрудниками и проектами лаборатории' %}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="container marketing">
  </br>
    <div class="row">
      {% for last in last_project %}
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          {% thumbnail last.image "250x250" crop="center" upscale=True as im %}    
          <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          {% comment %} <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> {% endcomment %}
          <p></p>
          <h3 class="fs-2 text-body-emphasis">{{ last.title }}</h3>
          <p>{{ last.description }}</p>
          <a href="{{ last.get_absolute_url }}" class="btn btn-primary">
            {% trans 'Подробнее' %}
          </a>
        </div>
      </div>
      {% endfor %} 
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
  {% for worker in staff %}
  </br>
    <hr class="featurette-divider">
  </br>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">{{ worker.employee }}</h2>
        <p></p>
        <p class="lead">{{ worker.position }}</p>
        
        <a href="{{ worker.get_absolute_url }}" class="btn btn-primary">
          {% trans 'Подробнее' %}
        </a>
      </div>
      <div class="col-md-5">
        {% thumbnail worker.image "400x400" upscale=True as im %}    
        <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
      </div>
      <hr class="featurette-divider">
    </div>
  {% endfor %}
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container --> 
{% endblock %}