{% extends 'base.html' %}
{% block title %}Laboratory{% endblock %}
{% block content %}
{% load thumbnail %}
{% load static %}
  <link type="text/css" href="{% static 'css/project_detail.css' %}" rel="stylesheet" />
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'img/Kis.jpg' %}" width="400" height="400">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Website for Laboratory</h1>
        <p class="lead">Здесь вы можете ознакомиться с сотрудниками и проектами лаборатории</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="container marketing">
  </br>
    <div class="row">
      {% for last in last_project %}
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          {% thumbnail last.image "250x250" crop="center" upscale=True as im %}    
          <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          {% comment %} <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> {% endcomment %}
          <p></p>
          <h3 class="fs-2 text-body-emphasis">{{ last.title }}</h3>
          <p>{{ last.description }}</p>
          <a href="{{ last.get_absolute_url }}" class="btn btn-primary">
            Подробнее
          </a>
        </div>
      </div>
      {% endfor %} 
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->
  </br>
    <hr class="featurette-divider">
  </br>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'img/Sergei.jpg' %}" width="270" height="350">
      </div>
    </div>

  </br>
    <hr class="featurette-divider">
  </br>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'img/Leonid.jpg' %}" width="270" height="350">
      </div>
    </div>

  </br>
    <hr class="featurette-divider">
  </br>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'img/Artem.jpg' %}" width="270" height="350">
      </div>
    </div>


    <!-- /END THE FEATURETTES -->

  </div><!-- /.container --> 
{% endblock %}